<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getCommittees</key>
	<dict>
		<key>URL</key>
		<string>/committees/preview</string>
		<key>Method</key>
		<string>GET</string>
		<key>BodyType</key>
		<string>NONE</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>getCommitteesFailed:request:</string>
		<key>SuccessHandler</key>
		<string>getCommitteesSucceeded:request:</string>
	</dict>
	<key>getAdsForCommittee</key>
	<dict>
		<key>URL</key>
		<string>/committees/%@</string>
		<key>Method</key>
		<string>GET</string>
		<key>BodyType</key>
		<string>NONE</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>getAdsForCommitteeFailed:request:</string>
		<key>SuccessHandler</key>
		<string>getAdsForCommitteeSucceeded:request:</string>
	</dict>
	<key>getAdForAdId</key>
	<dict>
		<key>URL</key>
		<string>/ads/%@</string>
		<key>Method</key>
		<string>GET</string>
		<key>BodyType</key>
		<string>NONE</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>getAdForIdFailed:request:</string>
		<key>SuccessHandler</key>
		<string>getAdForIdSucceeded:request:</string>
	</dict>
	<key>getAdForTunesatUUID</key>
	<dict>
		<key>URL</key>
		<string>/ads/tunesat/%@</string>
		<key>Method</key>
		<string>GET</string>
		<key>BodyType</key>
		<string>NONE</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>getAdForTunesatUUIDFailed:request:</string>
		<key>SuccessHandler</key>
		<string>getAdForTunesatUUIDSucceeded:request:</string>
	</dict>
	<key>getHappeningNow</key>
	<dict>
		<key>URL</key>
		<string>/ads/now</string>
		<key>Method</key>
		<string>GET</string>
		<key>BodyType</key>
		<string>NONE</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>getHappeningNowFailed:request:</string>
		<key>SuccessHandler</key>
		<string>getHappeningNowSucceeded:request:</string>
	</dict>
	<key>getMappedAds</key>
	<dict>
		<key>URL</key>
		<string>/ads/map</string>
		<key>Method</key>
		<string>GET</string>
		<key>BodyType</key>
		<string>NONE</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>getMappedAdsFailed:request:</string>
		<key>SuccessHandler</key>
		<string>getMappedAdsSucceeded:request:</string>
	</dict>
	<key>postFailedAd</key>
	<dict>
		<key>URL</key>
		<string>/ads/failed</string>
		<key>Method</key>
		<string>POST</string>
		<key>BodyType</key>
		<string>JSON</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>postFailedAdFailed:request:</string>
		<key>SuccessHandler</key>
		<string>postFailedAdSucceeded:request:</string>
	</dict>
	<key>postFilters</key>
	<dict>
		<key>URL</key>
		<string>/committees/filter</string>
		<key>Method</key>
		<string>POST</string>
		<key>BodyType</key>
		<string>JSON</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>postFiltersFailed:request:</string>
		<key>SuccessHandler</key>
		<string>postFiltersSucceeded:request:</string>
	</dict>
	<key>postAdTag</key>
	<dict>
		<key>URL</key>
		<string>/ads/%@/tag</string>
		<key>Method</key>
		<string>POST</string>
		<key>BodyType</key>
		<string>JSON</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>postAdTagFailed:request:</string>
		<key>SuccessHandler</key>
		<string>postAdTagSucceeded:request:</string>
	</dict>
</dict>
</plist>
